@model IEnumerable<HospitalProjectTeam4.Models.ParkingSpot>

@{
    ViewBag.Title = "Parking spots";
}

<h2>Parking spots</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParkingSpotID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalStaff.StaffFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpotID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalStaff.StaffFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ParkingSpotID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ParkingSpotID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ParkingSpotID })
            </td>
        </tr>
    }

</table>
